<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Resliv_AQA_Task">
        <classes>
            <class name="testPages.ResultsPageTest">
                <methods>
                    <include name="verifyCityName"/>
                    <include name="verifyDepartureAndReturnDepartureDate"/>
                    <include name="verifyTheSortingOfTicketPrices"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>