<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>%d{dd MMM yyyy HH:mm:ss} %-5p [%t] - %-60m [%C{-3}.%M (%F:%L)]%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="target/logs/appTest.log">
            <PatternLayout>
                <Pattern>%d{dd MMM yyyy HH:mm:ss} %-5p [%t] – %-60m [%C{-3}.%M (%F:%L)]%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>